ul.daohang
{
	list-style-type:none;
	margin:5px;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
  overflow: hidden;
  float: right;
}

ul.return
{
	list-style-type:none;
	margin:5px;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
  overflow: hidden;
  position: fixed;
  bottom:0;
  right: 0;
}

#header
{
  background-color:#538579;
  height: 1000px;
  position: fixed;
  right: 0;
}

a
{
  text-decoration:none;
  width: 120px;
  margin: 3px;
}
a.daohang:link,a.daohang:visited
{
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
  border-radius: 5px;
	text-align:center;
	padding:6px;
  margin-left: 10px;
  float:right;
}
a.daohang:hover,a.daohang:active
{
	background-color:#7A991A;
}

a.return:link,a.return:visited
{
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
  /* border-radius: 50%; */
	text-align:center;
  padding: 6px;
  margin-left: 10px;
  width: 6px;
  height: 6px;
}
a.return:hover,a.return:active
{
	background-color:#7A991A;
}

.itemshow_container
{
  width: 750px;
  height: 100%;
  margin: 20px;
  float: left;
  background-color: aqua;
  border: 1px solid #000000;
  border-radius: 10px;
}

.itemshow
{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}